div {
  transform-style: preserve-3d;
  user-select: none;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

.main {
}
